@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");
*{
    margin: 0;
}
.navi{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.navi li{
    float:left;
}
ul.navi li a{
    display: inline-block;
    text-align: center;
    color: rgb(19, 53, 46);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
}
.active{
    background-color: rgba(40, 193, 204, 0.737);
    border-radius: 2px;
}
ul.navi li a.navibar:hover{
    color: rgba(23, 92, 78, 0.433);
}
.bgimage{
    background-image: url(background.jpg);
    min-height: 400px;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    
}
.cont{
    width: auto;
    padding: 10px 0 0 10px;
}
.topic{
    color: #fff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 200px;
    text-align: center;
    padding-top: 10px;
    cursor: default;
}
 
  table{
   margin-left: auto;
   margin-right: auto;
   background-color: aliceblue;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 30px;
   margin-top: 20px;
  }
  tr td img{
    width: 350px;
    height:250px;
    opacity: 0.5;
    transition: ease-in 0.4s;
  }
  tr td img:hover{
    opacity: 1.0;
  }
 .description td{
    color: rgb(102, 255, 0);
    background-color: rgb(31, 44, 55);
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    /*opacity: 0.5;*/
    transition: ease-in-out 0.4s;
 }
 .description td:hover{
    opacity:1.0;
 }
.content{
    background-color: rgba(199, 177, 177, 0.5);
    padding-top: 50px;
 }
 .sub{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
 }
 footer{
  background-color: rgba(56, 22, 22, 0.942);
  padding: 50px;
}
.media{
  display: block;
  float: right;
  margin-top: -10px;
}
.media .subs{
 padding-left: 25px;
 color:white;
 font-size: 16px;
}
.media a img{
  align-content: center;
  width: 30x;
  height: 30px;
  padding: 8px;
  opacity: 0.4;
  transition: 0.5s;
  float: right;
}
.media a img:hover{
  opacity: 1.0;
}
 p{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.contact{
  float: left;
  margin-top: -40px;
}
  .contact ul li{
    font-size: 16px;
    list-style: none;
    padding-top: 5px;
  }
  .contact ul li a{
    text-decoration: none;
    color: #ffffffb0;
  }
  .contact ul li a:hover{
    text-decoration: underline;
  }
